/meramot_front/node_modules/
/meramot_front/.env
/meramot_front/.pnp
/meramot_front/.pnp.js

# testing
/meramot_front/coverage

# production
/meramot_front/build

# misc
/meramot_front/.env
/meramot_front/.DS_Store
/meramot_front/.env.local
/meramot_front/.env.development.local
/meramot_front/.env.test.local
/meramot_front/.env.production.local
/meramot_front/
/meramot_front/npm-debug.log*
/meramot_front/yarn-debug.log*
/meramot_front/yarn-error.log*


/meramot_back/.env
/meramot_back/target
/meramot_back/meramot_back.iml


